iframe{
  width: 100%;
  min-height: 600px;
}
a{
  text-decoration: none;
  color: black;
}
li:hover{
  text-decoration: none;
  color: black;
  background: rgb(128, 116, 116);
}
.row{
  cursor: pointer;
}
.container-fluid{
  padding: 0px;
}
.border{
  border: 1px solid black;
}
.scroll{
  overflow-y: hidden;
  overflow-x: hidden;
}
.custom-panel{
  border-radius: 0px !important; 
  margin: 0px 0px 5px 0px;
}
.avatar-body{
  padding: 5px 0px 5px 0px;
  
}
.pad{
  padding:8px 2px 8px 2px;
  margin-bottom: 2px;
  background: whitesmoke;
}
.pad-bottom{
  padding:8px 2px 8px 2px;
  background: whitesmoke;
  position: relative;
  bottom: 0px;
}
.zero-pad{
  padding: 0px;
}
.rounded{
  border-radius: 50px;
}
.border-left{
  border-left: 1px solid black;
}
.border-right{
  border-right: 1px solid black;
}
.grey-bg{
  background: rgb(128, 116, 116);
  color: white;
}
.light-bg{
  background: whitesmoke;
  padding: 2px;
}
.text-center{
  text-align: center;
}
.small-text{
  font-size: 10px;
}
.default-text{
  font-size: 12px;
}
.medium-text{
  font-size: 14px;
}
.extra-medium-text{
  font-size: 16px;
}
.big-text{
  font-size: 18px;
}
.large-text{
  font-size: 20px;
}
.extra-large-text{
  font-size: 24px;
}
.huge-text{
  font-size: 30px;
}
.font-bold{
  font-weight: 700;
}
